                            * { font-size:6vw; box-sizing: border-box; }
@media (min-width: 600px) { * { font-size:36px; } }
.line                     { display:flex; justify-content:space-between; align-items:center; width:15em; }

*                                { font-family:Segoe UI, Calibri, Helvetica, Arial, sans-serif; }
code, textarea, input[type=text] { font-family:Consolas, Lucida Console, Droid Sans Mono, Courier New, Courier, monospace; white-space:pre; }
body                             { margin-left:0.1em; line-height:1.1em; padding:0; border:0; }
h1                               { color:darkblue; font-size:120%; font-weight:normal; margin-bottom:0.3em; }
h2                               { color:darkblue; font-size:110%; font-weight:normal; margin-bottom:0.3em; }
a                                { text-decoration:none; }
div                              { line-height:1.2em; }
form                             { line-height:1.2em; margin:0; }
button, input[type=submit]       { border-radius:0.2em; border:0; box-shadow:none; margin-top:0.3em; }
button:hover:enabled             { color:red; }
input[type=submit]:hover:enabled { color:red; }
input[type=text]                 { border:thin none gray; margin:0; padding:0; color:darkblue; text-align:right; }
select                           { border:thin none     ; margin:0; padding:0; color:darkblue; text-align:right; background-color:transparent}

.toggle                  { display:inline-block; position:relative; cursor:pointer; width: 1.2em;  height: 0.6em; }
.slot                    { background-color:lightsteelblue; display:block; position:absolute; top:0.1em; left:0.1em; bottom:0.1em; right:0.1em; border-radius:0.6em; transition:background 0.4s; }
.knob                    { background-color:steelblue;      display:block; position:absolute; top:0.0em; left:0.0em; bottom:0.0em; width:0.6em; border-radius:0.6em; transition:background 0.4s, margin 0.4s; }
.toggle[dir=rtl] > .slot { background-color:lightsteelblue; }
.toggle[dir=rtl] > .knob { background-color:royalblue;      margin-left:0.6em}
.led                     { background-color:lightgray; display:inline-block; width:0.6em; height:0.6em; border-radius:50%; }
.led[dir=rtl]            { background-color:royalblue; }

.hamburger { display:inline-block; width:1em}
.bar       { height:0.15em; background-color:#111; border-radius:0.15em; }
.space     { height:0.2em; }